.name{
    height: 10vh;
    width: 7vw;
    margin: 1vh 0.5vw;
    float: left;
    background-color: rgb(122, 185, 29);
    color: white;
    border: double black 0.2px;
    border-radius: 0.5vmin;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3vmin;
}

.infoid{
    height: 23vh;
    width: 7vw;
    margin: 0.5vh 0.5vw;
    float: left;
}

.butidfind{
    background-color: rgb(122, 185, 29);
    color: white;
    border: double black 0.2px;
    border-radius: 0.5vmin;
    width: 35vw;
    height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3vmin;

    position: absolute;
    left: 32.4%;
    top: 60.25%;
}
