.but{
    height: 9vh;
    width: 14vw;
    margin: 1vh 1vw;
    padding: auto;
    float: left;
    background-color: rgb(122, 185, 29);
    color: white;
    border: double black 0.2px;
    border-radius: 0.5vmin;
    font-size: 4vmin;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.blank{
    height: 8vh;
    width: 37vw;
    float: left;
    margin: none;
}

.name{
    color: black;
    font-size: 15vmin;
    text-align: center;
}

.roomcode{
    width: 40vw;
    height: 10vh;
    float: left;
}

.code{
    position: absolute;
    left: 22.5vw;
    top: 45vh;
}