.but{
    background-color: rgb(122, 185, 29);
    color: white;
    border: double black 0.2px;
    border-radius: 0.5vmin;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.but1{
    height: 7vh;
    width: 12vw;
    margin: 2vh 1vw;
    padding: auto;
    float: left;
    font-size: 3vmin;
}

.butt2{
    height: 10vh;
    width: 6vw;
    float: left;
    margin: 1vh 1vw;
    font-size: 3vmin;
}

.blank{
    height: 8vh;
    width: 53vw;
    float: left;
    margin: none;
}

.mainname{
    color: black;
    font-size: 15vmin;
    text-align: center;
    margin: 12vh;
}

.roomcode{
    width: 40vw;
    height: 10vh;
    float: left;
    margin: 0.75vh 0vw;
}

.code{
    position: absolute;
    left: 25vw;
    top: 40vh;
    width: 50vw;
    height: 12vh;
}