.right_d{
    display: flex;
    float: right;
}
.logoutbutton_d{
    background-color: white;
    color: rgb(212, 66, 90);
    border: none;
    font-size: 18px;
}
.transbutton_d{
    background-color: white;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 18px;
}
.trashbutton_d{
    background-color: white;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 18px;
}

.search_d{
    position : absolute;
    top:30%;
    left:40%;
    display: flex;
}
.inputtext_d {
    width: 400px;
    height: 30px;
}
.searchbutton_d{
    background-color: white;
    color: rgb(18, 95, 7);
    border: none;
    font-size: 20px;
}

.App_d {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
  }
    
  th {
    border-bottom: 1px solid black;
  }
    
  td {
    text-align: center;
  }